<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Welcome Back</ion-title>
    <p class="subTitle"> Sign in to access your account</p>
  </div>

  <form [formGroup]="loginForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="username" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required">
          Email is required
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern">
          Email should be valid
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" placeholder="password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <div *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required">
          Password is required
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern">
          Password must at least have
          One Character
          One Capital letter
          One number
          Contain 8 digits
        </ion-text>
      </div>

      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" style="color: #FFC33F"> Forgot Password?</a>
      </div>
      <div class="signupLink">
        <p> New member?<a style="color: #FFC33F" [routerLink]="['/signup']"> Signup now</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="login()" >
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>