<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="end">Hola raul</ion-title>
    <ion-avatar slot="end">
      <img style="margin-top: 7%; margin-right: 20%;    width: 87%;
      height: 87%;" alt="Silhouette of a person's head"
        src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2018/08/fotos-perfil-whatsapp_16.jpg?tf=3840x" />
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-item>
    <ion-toolbar>
      <ion-title style="font-size: 26px;" size="large">Tus seguros!!</ion-title>
    </ion-toolbar>
    <ion-icon slot="end" name="shield-checkmark-sharp"></ion-icon>
  </ion-item>
  <ion-card style="border-radius: 0px 20px 0px 20px; background: #f6f6f6; padding: 0;">
    <ion-card-content >
      <ion-item style="--background: #f6f6f6;" button detail="true" detail-icon="caret-forward-outline">
          <ion-img style="width: 21%;" src="https://ionic-docs-demo-v6.vercel.app/assets/madison.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <!-- <div class="bar bar-foorer bar-balanced">
    <strong class="capitalize">{{ menu }}</strong>

  </div> -->
</ion-content>
<ion-footer >
  <ion-toolbar style="    --background: #ff0000ab;
  border-radius: 10px 10px 0% 0%;
  margin: 4% 4% 0%;
  width: 92%;
  color: #ff000000;">
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer>
