<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ menu }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-header collapse="condense">
    <ion-item>
      <ion-toolbar>
        <ion-title size="large">Tus seguros!!</ion-title>
      </ion-toolbar>
      <ion-icon slot="end" name="shield-checkmark-sharp"></ion-icon>
    </ion-item>
  </ion-header>

  <!-- <div id="container">
    <strong class="capitalize">{{ menu }}</strong>

  </div> -->
</ion-content>
